*{
    text-decoration: none;
}

header {
    background-color: #222;
    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

.favoritos {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.favoritos:hover {
    background-color: #0056b3;
}
